{% extends "navbar.html" %}
{% load custom_filters %}

{% comment %} All the code in this file was written without assistance {% endcomment %}

{% load static %}

{% block maincontent %}
<div class="d-flex min-vh-100 justify-content-between align-items-start bg-light pt-5 pb-5 align-items-stretch">
    <div class="d-flex flex-column gap-3 mt-5 ms-5">
        <div class="mb-5 fw-bold">
            <h6>{{ course.title }}</h6>
            <div class="bg-secondary rounded-3 me-5 mt-3" style="width: 110px; height: 80px;">
                {% if course.cover_picture %}
                    <img class="w-100 h-100 border rounded-3 overflow-hidden" src="{{ course.cover_picture.thumbnail}}" onerror="this.onerror = null; this.src='{% static 'images/default_course_cover_picture.jpg' %}'"/>
                {% else %}
                    <img class="w-100 h-100 border rounded-3 overflow-hidden" src="{% static 'images/default_course_cover_picture.jpg' %}" />
                {% endif %}
            </div>
        </div>
        <h5 data-bs-toggle="collapse" data-bs-target ="#collapse" role="button">Weeks</h5>
        <div class="ms-2 collapse" id="collapse">
            {% for week in course_weeks %}
                <a href="{% url 'my_course_details_view' course.id week.week_number %}">Week {{ week.week_number }}</a>
            {% endfor %}
        </div>
        <a href="{% url 'additional_resources_view' course.id %}" class="fs-5 fw-600 text-black" role="button">Resources</a>
        <a href="{% url 'grades_view'}" class="fs-5 fw-600 text-black" role="button">Grades</a>
        <a class="fs-5 fw-600 text-black" role="button">Chat</a>
    </div>

    {% comment %} Left side {% endcomment %}
    <div class="mt-5 px-4 me-4 py-4 w-100 bg-white d-flex flex-column gap-2 border border-2 rounded-3 justify-content-between mb-5 shadow-sm" style="max-height: 745px;">
        <div class="d-flex flex-column px-3 h-100" style="overflow-y: scroll;" id="chat-log">
            <div class="mt-auto d-flex flex-column align-items-start mw-50" >
                {% for message in messages %}
                    <div class="d-flex flex-column {% if message.sender.id == user.id %} ms-auto {% else %} me-auto {% endif %}">
                        <p class="mb-1 fs-10 text-secondary" style="font-weight: 600">@{{ message.sender.username }}</p>
                        <p class="px-2 py-2 {% if message.sender.id == user.id %} bg-primary custom-rounded-top-start text-white {% else %} bg-light custom-rounded-top-end border {% endif %}" style="min-width: 100px"> {{ message.content }}</p>
                        <p class="fs-10 mb-2 "> {{ message.timestamp|date:"d/m/Y \a\\t H:i" }}</p>
                    </div>   
                {% endfor %}
            </div>
        </div>
        <div class="input-group mt-2">
            <input class="form-control" id="chat-input" type="text" placeholder="Type your message..." >
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="send-btn">Send</button>
            </div>
        </div>
    </div>
</div>
<script>
    //get the current course id
    const courseId = {{ course.id }}

    //determine the protocol used for the websocket connection using the protocol of the page
    const protocol = window.location.protocol === "https:" ? "wss" : "ws"

    //create a new websocket connection to the server
    const chatSocket = new WebSocket(protocol + "://" + window.location.host + "/ws/chat/" + courseId + "/")

    //get the text input where user types their message
    const chat_input = document.getElementById("chat-input")
    //focus input on load
    chat_input.focus()

    //get the send button
    const send_btn = document.getElementById("send-btn")
    
    //get the container for all the chat messages
    const chatLog = document.getElementById("chat-log")

    //method to scroll to the bottom of the messages container
    const chatLog_scrollToBottom = () => {
        chatLog.scrollTop = chatLog.scrollHeight
    }

    //scroll to the bottom of the messages container when the window loads
    window.onload = () => chatLog_scrollToBottom()
    
    //websocket event handler - message is sent
    chatSocket.onmessage = e => {
        //parse the received data
        const data = JSON.parse(e.data)

        //initialize the bootstrap classes for the message and its container
        let messageClasses = "px-2 py-2"
        let messageContainerClasses = "d-flex flex-column"

        //case current user is the sender
        if(data.sender === "{{ user.username }}"){
            //add new classes - messages will be displayed on the right side with a blue background
            messageClasses += " bg-primary custom-rounded-top-start text-white"
            messageContainerClasses += " ms-auto"
        //case current user is not the sender    
        }else{
            //add new classes - messages will be displayed on the left side with a light background
            messageClasses += " bg-light me-auto custom-rounded-top-end"
            messageContainerClasses += " me-auto"
        }

        //create a date object with the received timestamp
        const messageDate = new Date(data.timestamp)
        //format date to dd/mm/yyyy at hh:mm
        const formattedDate = messageDate.toLocaleDateString("en-GB") + " at " + messageDate.toLocaleTimeString("en-GB", {hour: "2-digit", minute: "2-digit"}) 

        //add the new container with user, message and timestamp to the chat log
        chatLog.innerHTML += `
            <div class="${messageContainerClasses}">
                <p class="mb-1 fs-10 text-secondary" style="font-weight: 600">@${data.sender}</p>
                <p class="${messageClasses}" style="min-width: 100px">${data.message}</p>
                <p class="fs-10 mb-2">${formattedDate}</p>
            </div>
        `
        //scroll to the bottom of the messages container    
        chatLog_scrollToBottom()
    }

    //event handler - alert user when the websocket connection is closed
    chatSocket.onclose = e => {
        alert("Connection lost")
    }

    //event handler used to press the send button when user presses the enter key
    chat_input.onkeyup = e => {
        //case key is enter
        if(e.keyCode === 13){
            //prevent default action
            e.preventDefault()
            //do nothing if the input is empty
            if(chat_input.value.trim().length === 0) return

            //send the message
            send_btn.click()
        }
    }

    //event handler used to send the message when the send button is pressed
    send_btn.onclick = e => {
        //prevent default action
        e.preventDefault()
        //do nothing if the input is empty
        if(chat_input.value.trim().length === 0) return
        
        //get the input value
        const message = chat_input.value

        //send the message and sender to the websocket as a JSON string
        chatSocket.send(JSON.stringify({
            "message": message,
            "sender": "{{ user.username }}"
        }))

        //clear the input so user can type again
        chat_input.value = ""
    }

</script>
{% endblock maincontent %}