{% extends "navbar.html" %}

{% block maincontent %}
<div class="d-flex min-vh-100 justify-content-center bg-light">
    <div class="border w-25 " style="margin-top: 100px">
        LEFT
    </div>

    <div class="w-50" style="margin-top: 100px">
        <h3>Status Updates</h3>
        <form action="{% url 'status_updates:create_status_update_view' %}" method="post" enctype="multipart/form-data" class="border w-75 mx-auto my-4 rounded-3 px-2 py-1 bg-white shadow-sm">
            {% csrf_token %}
            <p class="mb-2" style="font-size: 20px">Create a new status update</p>
            <textarea name="content" id="" class="w-100 bg-light rounded-2" style="height: 100px"></textarea>
            <div class="w-100 mb-3">
                <label for="formFile" class="form-label">Add a file if you wish to:</label>
                <input name="resource_file" class="form-control" type="file" id="formFile" accept=".jpg, .jpeg, .svg, .png, .pdf ">
            </div>
            <select name="course" class="form-select mb-3" aria-label="Default select example">
                <option value="" selected>Select a course to notify students (optional)</option>
                {% for course in courses %}
                <option value="{{ course.id }}">{{ course.title }}</option>
                {% endfor %}
            </select>
            <div class="d-flex w-100 justify-content-end mb-1">
                <button type="submit" class="btn btn-primary" style="width: 30%">Post</button>
            </div>
        </form>
        <div class="w-75 mx-auto rounded-3 mt-2">
            {% for status_update in status_updates %}
            <div class="w-100 border rounded-3 bg-white d-flex flex-column gap-3 py-2 shadow-sm" style="min-height: 80px;">
                <div class="d-flex gap-2 border-bottom px-2 pb-2 shadow-sm">
                    <div class="bg-primary rounded-circle" style="width: 40px; height: 40px;"></div>
                    <div>
                        <p class="fw-600" style="font-size: 14px">@{{ status_update.teacher_username }}</p>
                        <p style="font-size: 12px">{{ status_update.created_at }}</p>
                    </div>
                </div>
                <div class="d-flex gap-5 align-items-start px-2 mb-2">
                    <div class="bg-primary" style="width: 80px; height: 80px;"></div>
                    <div class="d-flex flex-column">
                        <p class="fw-600">{{ status_update.course.title }}</p>
                        <a>{{ status_update.content }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="border w-25" style="margin-top: 100px">
        RIGHT
    </div>
</div>
{% endblock maincontent %}