{% extends "base.html" %}
{% comment %} All the code in this file was written without assistance {% endcomment %}
{% block content %}
<div class="container vh-100 d-flex justify-content-center align-items-center bg-light">
    <div class="border px-0 d-flex justify-content-between rounded-20 overflow-hidden shadow" style="max-width: 550px">
        <form method="post" class="w-100 bg-white px-5 py-4">
            {% csrf_token %}
            <div class="d-flex flex-column justify-content-between w-100">
                <h1 class="fs-3 fw-bold">INSTRUCTO</h1>
            </div>
            <div class="mt-5 d-flex flex-column align-items-start py-4 px-5">
                <h1 class="fs-1 fw-bold mx-auto">Password Reset</h1>
                <p class="">Enter the email address you used to register and we'll send you instructions to reset your password.</p>
                <div class="mt-4 w-100">
                    <label for="email" class="form-label">Email address</label>
                    <input 
                        type="email" 
                        name="{{ form.email.name }}" 
                        id="{{ form.email.id_for_label }}"
                        value="{{ form.email.value|default:'' }}" 
                        class="form-control w-100" 
                        placeholder="name@example.com" 
                    />
                </div>
                <p class="fs-10 ms-auto mt-1">Did you remember your details? <a href="{% url 'users:signIn_view' %}">Sign in</a></p>
                

                <button type="submit" class="mt-5 mb-4 btn text-white rounded-pill w-100 py-2 bg-black">Send</button>
                <p class="fs-10 ml-auto">Don't have an account? <a href="{% url 'users:register_view' %}" class="text-primary">Sign up</a></p>
            </div>
        </form>
        
    </div>
</div>
{% endblock %}