{% extends "base.html" %}
{% comment %} All the code in this file was written without assistance {% endcomment %}
{% block content %}
<div class="container vh-100 d-flex justify-content-center align-items-center bg-light">
    <div class="border px-0 d-flex justify-content-between rounded-20 overflow-hidden shadow" style="max-width: 550px">
        <div class="w-100 bg-white px-5 py-4">
            <div class="d-flex flex-column justify-content-between w-100">
                <h1 class="fs-3 fw-bold">INSTRUCTO</h1>
            </div>
            <div class="mt-4 d-flex flex-column align-items-start py-4 px-5">
                <h1 class="fs-1 fw-bold mx-auto">Email Sent</h1>
                <p class="mt-2">We have sent you an email with instructions to reset your password.</p>
                </div>
            <a href="{% url 'users:signIn_view' %}" class="mt-4 mb-4 btn text-white rounded-pill w-100 py-2 bg-black">Go Back</a>
        </div>
        
    </div>
</div>
{% endblock %}