{% extends "navbar.html" %}
{% load custom_filters %}
{% comment %} All the code in this file was written without assistance {% endcomment %}

{% load static %}
{% block maincontent %}
<div class="d-flex min-vh-100 justify-content-between align-items-start bg-light pt-5">
    <div class="d-flex flex-column gap-3 mt-5 ms-5">
        <div class="mb-5 fw-bold">
            <h6>{{ course_data.title }}</h6>
            <div class="bg-secondary rounded-3 overflow-hidden me-5 mt-3" style="width: 110px; height: 80px;">
                {% if course_data.cover_thumbnail %}
                    <img class="w-100 h-100 border rounded-3 overflow-hidden" src="{{ course_data.cover_thumbnail}}" onerror="this.onerror = null; this.src='{% static 'images/default_course_cover_picture.jpg' %}'"/>
                {% else %}
                    <img class="w-100 h-100 border rounded-3 overflow-hidden" src="{% static 'images/default_course_cover_picture.jpg' %}" />
                {% endif %}
            </div>
            </div>
        <a href="{% url 'my_course_details_view' course_data.id %}" role="button" class="fs-5 text-dark fw-600">Go Back</a>
    </div>

       

    {% comment %} Left side {% endcomment %}
    <div class="mt-5 px-4 me-4 py-4 w-100 bg-white d-flex flex-column gap-2 ps-5 border border-2 rounded-3" id="accordion">
        <h3 class="mb-3">Additional Resources</h3>
        <p class="lh-sm">The following resources provide valuable information about the course and offer additional insights to expand your knowledge.</p>
        <div class="d-flex flex-column gap-1">
            {% for resource in course_data.additional_resources %}
                <a>{{ resource.title }}</a>
            {% endfor %}
            {% if not course_data.additional_resources %}
                <div class="fs-10 alert alert-info my-auto mt-4">
                    <p class="fs-6">There are no additional resources in this course.</p>
                </div>
                {% endif %}
        </div>
    </div>
{% endblock maincontent %}