{% extends "base.html" %}

{% block content %}
<div class="container vh-100 d-flex justify-content-center align-items-center bg-light">
    <form method="post" enctype="multipart/form-data" class="border bg-white container px-0 d-flex justify-content-between rounded-20 overflow-hidden shadow">
        {% csrf_token %}
        <div class="w-100">
            <div class="d-flex flex-column align-items-start py-4 px-5">
                <h1 class="fs-1 fw-bold">Create Your Course</h1>
                <p class="">Fill out the form to create a course</p>

                {% if form.non_field_errors %}
                    <ul class="fs-10 text-danger">
                        {% for error in form.non_field_errors %}
                        <li class="">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <div class="d-flex gap-3 mt-2">
                    <div class="w-100">
                        <label for="{{ form.cover_picture.id_for_label }}" class="form-label">Cover Picture</label>
                        <input 
                            type="file" 
                            name="cover_picture" 
                            id="{{ form.cover_picture.id_for_label }}"
                            value="{{ form.cover_picture.value|default:'' }}"
                            accept=".jpg, .jpeg, .svg, .png," 
                            class="form-control w-100" 
                            placeholder="Cover Picture" 
                        />
                        {% if form.cover_picture.errors %}
                            <div class="invalid-feedback">
                                <p>{{ form.cover_picture.errors.as_text }}</p>
                            </div>
                        {% endif %}

                    </div>
                    <div class="w-100">
                        <label for="{{ form.title.id_for_label }}" class="form-label">Course Name</label>
                        <input 
                            type="text" 
                            name="{{ form.title.name }}" 
                            id="{{ form.title.id_for_label }}"
                            value="{{ form.title.value|default:'' }}" 
                            class="form-control w-100" 
                            placeholder="Course Name" 
                            required
                        />
                        {% if form.title.errors %}
                            <div class="invalid-feedback">
                                <p>{{ form.title.errors.as_text }}</p>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="mt-4 w-100">
                    <label for="{{ form.description.id_for_label }}" class="form-label">Course Description</label>
                    <textarea 
                        name="{{ form.description.name }}" 
                        id="{{ form.description.id_for_label }}"
                        class="form-control w-100" 
                        placeholder="Describe the course here..."
                        style="height: 100px" 
                        required
                    >
                    {{ form.description.value|default:'' }}
                    </textarea>

                    {% if form.description.errors %}
                        <div class="invalid-feedback">
                            <p>{{ form.description.errors.as_text }}</p>
                        </div>
                    {% endif %}

                </div>
                
                <div class="mt-3">
                    <h3 class="fs-5">Resources</h3>
                    <p class="" style="font-size: 14px">Please add files that you want to appear under the "Resources" section of trhe course.</p>
                    <button type="button" class="btn bordered btn-light border mb-2" onclick="addResourceField()">Add File</button>
                </div>
                
                <div class="border w-100 bg-light overflow-auto" style="height: 300px" id="resource_list">

                </div>   

            </div>
        </div>
        
        {% comment %} Right side of form {% endcomment %}
        <div class="container w-100 pe-5 pt-1 d-flex flex-column">

            <div class="d-flex flex-column align-items-start py-4">
                <h1 class="fs-5 fw-bold">Course Length</h1>
                <p class="">Please enter the course length in weeks (1-30):</p>
                <div class="d-flex align-items-start gap-4">
                    <div class="input-group mb-2" style="width: 140px">
                        <input type="number" name="duration_weeks" min="1" max="30" required class="form-control form-control" placeholder="1" id="weeks" value="1"/>
                        <span class="input-group-text" id="basic-addon3">weeks</span>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="addWeeks()">Add weeks</button>
                </div>
            </div>

            <div class="container border d-flex flex-column overflow-auto" id="weeks_container" style="min-height: 640px; max-height: 640px">
                {% comment %} Weeks will be rendered here {% endcomment %}
            </div>

            <button type="submit" class="btn btn-success my-2 fs-5">Create Course</button>
        </div>
    </form>

</div>

<script>
    function addResourceField() {
        const resourceList = document.getElementById("resource_list")
        const fileInput = document.createElement("input")

        fileInput.type = "file"
        fileInput.name = "additional_resources"
        fileInput.className = "form-control form-control-sm mt-2"
        resourceList.appendChild(fileInput)
    }

    function addWeeks() {
        //get container where all the weeks are displayed
        const weeksContainer = document.getElementById("weeks_container")
        //remove all children
        weeksContainer.innerHTML = ""

        //get the course length in weeks
        const courseWeeks = document.getElementById("weeks").value

        //create a collapse element per week
        for(let i = 0; i < courseWeeks; i++){
            const collapsible = document.createElement("div")
            const collapsibleBtn = document.createElement("button")
            collapsibleBtn.setAttribute("data-bs-toggle", "collapse")
            collapsibleBtn.setAttribute("data-bs-target", `#week${i+1}`)
            collapsibleBtn.innerText= `Week ${i + 1}`
            collapsibleBtn.type = "button"

            const collapseBody = document.createElement("div")
            collapseBody.className = "collapse"
            collapseBody.innerHTML = `
                <div class="mt-2">
                    <p class="">Please enter the number of lessons (1-10):</p>
                    <div class="d-flex align-items-start gap-4">
                        <div class="input-group mb-2" style="width: 140px">
                            <input type="number" min="1" max="10" required class="form-control form-control" placeholder="1" id="number_of_lessons_week_${i + 1}" value="1"/>
                            <span class="input-group-text" id="basic-addon3">lessons</span>
                        </div>
                        <button type="button" class="btn btn-primary" onclick="createLessons(${i + 1})">Create Lessons</button>
                    </div>
                </div>

                <div id="lesson_content_week_${i + 1}">
                    
                </div>
                    
                <div class="w-100">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="fs-5 mt-4">Test</h3>
                        <div>
                            <label for="{{ form.deadline.id_for_label }}" class="form-label">Deadline</label>
                            <input 
                                type="date" 
                                name="deadline_week_${i + 1}" 
                                id="deadline_week_${i + 1}"  
                                class="form-control w-100" 
                                required
                            />
                            {% if form.deadline.errors %}
                                <p class="fs-10 text-danger">{{ form.deadline.errors.0 }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <p class="">Please enter the number of questions (1-10):</p>
                    <div class="d-flex align-items-start gap-4">
                        <div class="input-group mb-2" style="width: 140px">
                            <input type="number" min="1" max="10" required class="form-control form-control" placeholder="1" id="questions_week_${i + 1}" value="1"/>
                            <span class="input-group-text" id="basic-addon3">questions</span>
                        </div>
                        <button type="button" class="btn btn-primary" onclick="addQuestions(${i + 1})">Create Questions</button>
                    </div>

                    <div class="d-flex flex-column w-100" id="questionsContainer_week_${i + 1}">

                    </div>
                </div>
            `

            collapseBody.id = `week${i+1}`

            weeksContainer.appendChild(collapsibleBtn)
            weeksContainer.appendChild(collapseBody)
            console.log("finished", weeksContainer)
        }
    }

    function createLessons(weekNumber) {
        const lessonContentContainer = document.getElementById(`lesson_content_week_${weekNumber}`)
        const number_of_lessons = document.getElementById(`number_of_lessons_week_${weekNumber}`).value

        lessonContentContainer.innerHTML = ""

        for(let i = 0; i < number_of_lessons; i++){
            const lessonDataContainer = document.createElement("div")
            lessonDataContainer.className = "d-flex flex-column"
            lessonDataContainer.innerHTML = `
                <div class="mb-2 mt-3 pt-2 w-100 border-top border-secondary border-3">
                    <h5 class="fs-18 mb-1">Lesson ${i + 1} Title</h5>
                    <input class="w-100" type="text" name="week_${weekNumber}_lesson_${i + 1}_title" />
                </div>

                <div class="w-100 mt-2">
                    <h5 class="fs-18 mb-1">Lesson ${i + 1} Description</h5>
                    <textarea class="w-100" type="text" name="week_${weekNumber}_lesson_${i + 1}_description" style="height: 80px"></textarea>
                </div>

                <div>
                    <h5 class="fs-18 mb-1">Learning Material</h5>
                    <input type="file" name="week_${weekNumber}_lesson_${i + 1}_learning_material" accept=".jpg, .jpeg, .svg, .png, .pdf "/>
                </div>
            `
            lessonContentContainer.appendChild(lessonDataContainer)
        }
    }

    function addQuestions(weekNumber) {
        const questionsContainer = document.getElementById(`questionsContainer_week_${weekNumber}`)
        const numberOfQUestions = document.getElementById(`questions_week_${weekNumber}`).value

        questionsContainer.innerHTML = ""

        for(let i = 0; i < numberOfQUestions; i++){
            const questionContainer = document.createElement("div")
            questionContainer.innerHTML = `
                <div class="w-100 d-flex flex-column">
                    <label class="mb-1">Question ${i + 1}</label>
                    <input type="text" name="question_week_${weekNumber}_${i + 1}"/>
                </div>
                <div class="w-100 mt-2 d-flex flex-column">
                    <div class="d-flex justify-content-between">
                        <label>Answers</label>
                        <p>Correct?</p>
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text" id="">1</span>
                        <input type="text" name="answer_week_${weekNumber}_${i + 1}_1"  required class="form-control form-control me-4" placeholder="Answer 1" id="weeks"/>
                        <input type="checkbox" name="correct_week_${weekNumber}_${i + 1}_1" class="me-4" id="answer_1"/>
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text" id="">2</span>
                        <input type="text" name="answer_week_${weekNumber}_${i + 1}_2" required class="form-control form-control me-4" placeholder="Answer 2" id="weeks"/>
                        <input type="checkbox" name="correct_week_${weekNumber}_${i + 1}_2" class="me-4" id="answer_2"/>
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text" id="">3</span>
                        <input type="text" name="answer_week_${weekNumber}_${i + 1}_3" class="form-control form-control me-4" placeholder="Answer 3" id="weeks"/>
                        <input type="checkbox" name="correct_week_${weekNumber}_${i + 1}_3" class="me-4" id="answer_3"/>
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text" id="">4</span>
                        <input type="text" name="answer_week_${weekNumber}_${i + 1}_4" class="form-control form-control me-4" placeholder="Answer 4" id="weeks"/>
                        <input type="checkbox" name="correct_week_${weekNumber}_${i + 1}_4" class="me-4" id="answer_4"/>
                    </div>
                </div>
            `

            questionsContainer.appendChild(questionContainer)
        }
    }

</script>
{% endblock %}