{% extends "navbar.html" %}
{% load custom_filters %}

{% block maincontent %}
<div class="d-flex flex-column min-vh-100 justify-content-start align-items-start bg-light pt-5 px-5">
    <div class="px-4 me-4 py-4 w-100 bg-white d-flex flex-column gap-2 ps-5 border border-2 rounded-3" style="margin-top: 20px; min-height: 500px">
        <h1 class="mt-3 fs-4 mb-2">Manage Students for : {{ course.title }}</h1>
        <p class="mb-3">Select the students you want to remove from the course and press the remove button</p>
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if 'error' in message.tags %}alert-danger{% else %}alert-success{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form class="form-check w-75 mt-4" action="{% url 'manage_resources_view' course.id %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div>
                <h5>Cover Picture</h5>
                <div class="bg-secondary rounded-3 overflow-hidden me-5 mt-3" style="width: 110px; height: 80px;">
                    <img class="w-100 h-100" src={{ course.cover_picture.thumbnail }} />
                </div>
                <div class="my-3">
                    <label for="formFile" class="form-label">New cover picture</label>
                    <input name="course_cover_picture" class="form-control" type="file" id="formFile">
                </div>
            </div>

            <div class="border-2 w-100 mb-3 mt-4" style="height: 2px; background-color: #b9b9b9;"></div>

            <div>
                <h5>Additional Resources</h5>
                <p class="mt-2">Existing Resources:</p>
                <div class="mt-1 mb-3 border px-3 py-2 d-flex flex-column rounded-3 gap-2">
                {% for additional_resource in additional_resources %}
                    <div class="px-2 py-2 bg-light rounded-2">
                    {% if additional_resource.resource_format == "image" %}
                        {% if additional_resource.thumbnail %}
                            <div class="bg-secondary rounded-3 overflow-hidden me-5" style="width: 110px; height: 80px;">
                                <img class="w-100 h-100" src={{ additional_resource.thumbnail }} />
                            </div>
                        {% else %}
                            <div class="bg-secondary rounded-3 overflow-hidden me-5" style="width: 110px; height: 80px;">
                                <img class="w-100 h-100" src={{ resource.file}} />
                            </div>
                        {% endif %}
                    {% elif additional_resource.resource_format == "pdf" %}
                        
                    {% endif %}
                    <a href="{{ additional_resource.file  }}" target="_blank">{{ additional_resource.title  }}</a>
                    <div class="mt-1">
                        <label for="formFile" class="form-label">Update additional resource</label>
                        <input name="update_additional_resource_{{ additional_resource.id }}" class="form-control" type="file" id="formFile">
                    </div>
                    </div>   
                {% endfor %}
                </div>

                <p class="" style="font-size: 14px">Press "Add File" to add more additional resources to the course.</p>
                <button type="button" class="btn bordered btn-light border mb-2" onclick="addResourceField()">Add File</button>
                
                <div class="border w-100 bg-light overflow-auto" style="height: 130px" id="resource_list">
                    
                </div>  
            </div>

            <div class="border-2 w-100 mb-3 mt-4" style="height: 2px; background-color: #b9b9b9;"></div>

            <div>
                <h5>Learning Materials</h5>
                <div class="border d-flex flex-column mt-3">
                    {% for week in weeks %}
                    <div>
                        <h6 class="w-100 py-2 px-2" style="font-size: 18px; background-color: #e8e8e8;">Week {{ week.week_number }}</h6>
                        <div class="mt-2 px-2">
                        {% for lesson in week.lessons.all %}
                            <p class="fw-600 mb-2">Lesson {{ lesson.lesson_number }}: {{ lesson.title }}</p>
                            {% for resource in lesson.lesson_resources.all %}
                                {% if resource.resource_format == "image" %}
                                    {% if resource.thumbnail %}
                                    <div class="bg-secondary rounded-3 overflow-hidden me-5" style="width: 110px; height: 80px;">
                                        <img class="w-100 h-100" src={{ resource.thumbnail }} />
                                    </div>
                                    {% else %}
                                    <div class="bg-secondary rounded-3 overflow-hidden me-5" style="width: 110px; height: 80px;">
                                        <img class="w-100 h-100" src={{ resource.file}} />
                                    </div>
                                    {% endif %}
                                {% endif %}    
                            <a href="{{ resource.file  }}" target="_blank">{{ resource.title  }}</a>
                            {% endfor %}
                            <div class="mt-1 mb-3">
                                <label for="formFile" class="form-label">Update learning material</label>
                                <input name="week_{{ week.week_number }}_lesson_{{ lesson.lesson_number }}_learning_material" class="form-control" type="file" id="formFile">
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="d-flex justify-content-end mt-5">
                <button type="submit" class="btn btn-danger">Update Resources</button>
            </div>
        </form>
    </div>
</div>
<script>
    function addResourceField() {
        const resourceList = document.getElementById("resource_list")
        const fileInput = document.createElement("input")

        fileInput.type = "file"
        fileInput.name = "additional_resources"
        fileInput.className = "form-control form-control-sm mt-2"
        resourceList.appendChild(fileInput)
    }
</script>
{% endblock maincontent %}